[submodule "User/Tools/pyqt_gui"]
	path = User/Tools/pyqt_gui
	url = ./User/Tools/pyqt_gui
[submodule "Board/ODriveMKS"]
	path = Board/ODriveMKS
	url = ./Board/ODriveMKS
[submodule "Board/SFOC_V2"]
	path = Board/SFOC_V2
	url = ./Board/SFOC_V2
